body{
	background-color: black;
	padding-left: 250px;
	padding-right: 250px;
	margin: 0;
}

#mainb {
	background-color: white;
	
}

section{
	background-color: white;
}

header{
	background-color: red;
	font-family: 'Pinyon Script', cursive;
	color: white;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
}

.img{
	background-color: black;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	height: 50vh;
}

/* .img > img{
	width: 1000px;
} */

.menu{
	font-family: 'Pinyon Script', cursive;
	text-align: center;
	font-size: 24px;
}

.menu > h1{
	padding-top: 24px;
}

#table{
	align-content: center;
	/* margin-left: 200px; */
	width: 800px;
	height: 500px;
	/* margin-bottom: 50px; */
	/* border-style: solid 1; */
	margin-left: 24px;
	margin-bottom: 24px;
	border-collapse: collapse;
}

/*.table{
	align-content: center;
	margin-left: 300px;
}*/

#th{
	background-color: black;
	color: white;
	height: 50px;
}

.thr0{
	width: 150px;
	text-align: center;
}

.amount{
	color: red;
	font-weight: bold;
	text-align: center;
}

.middle{
	padding-left: 20px;
}
.sn{
	text-align: center;
}

#footer{
	background-color: red;
	color: white;
	text-align: center;
	padding-bottom: 6px;
	padding-top: 6px;
}